.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.value {
  text-align: left;
  line-height: 120%;
  width: 43px;
  height: 18px;
  font-weight: 600;
}

.bank {
  font: 15px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
